body {
    font-family: 'Nanum Gothic', 'Arial', sans-serif;
    font-size: 1em;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-height:  600px;
}

.heading {
    margin-top: 7vh;
}

.items-list {
    display: flex;
    justify-content: space-between;
    min-width: 900px;
}

.item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.item p {
    text-align: center;
}

.btn-wrapper {
    display: flex;
    justify-content: center;
}

.button {
    display: block;
    color: black;
    font-family: 'Nanum Gothic', 'Arial', sans-serif;
    width: 3em;
    height: 3em;
    cursor: pointer;
    outline: none;
    border: none;
    border-radius: 0.3em;
    background-color:rgba(120, 236, 186, 0.6);
}

.button:first-child {
    margin-right: 0.8em;
}

.button:hover {
    color: white;
    transition: all 2s ease;
    background-color: #51F2AD;
}

.button:active {
    background-color: rgba(164, 247, 211, 0.6);
}

